[Unit]
Description= MagicMirror Server Service
After=network.target

[Service]
Type=simple
User=root
# Restart=on-failure
# RestartSec=5s
ExecStart= "/root/startMirror.sh"

[Install]
WantedBy=multi-user.target